/* Body layout */
.body {
    display: flex;
    flex-wrap: wrap;
}

/* Blog */
.blog {
    display: flex;
    flex-direction: column;
}

/* Wrapper */
.Wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
    flex: 1;
    width: 100%;
    height: auto;
}

/* NavColumn */
.navColumn {
    margin-right: 10%;
    margin-left: 2%;
    margin-top: 4%;
    font-size: 14px;
}

.navColumn h1 {
    font-size: 14px;
    font-weight: normal;
}

.navColumn ul {
    list-style-type: none;
    padding: 0;
}

.navColumn ul li {
    margin-bottom: 10px;
    text-decoration: none;
}

.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f6f8fa;
    font-size: 12px;
    cursor: pointer;
}

.tagsHeader, .datesHeader {
    font-size: 20px;
    font-weight: 700;
}

.tagButton, .postlist, .undoButton {
    cursor: pointer;
}

.navColumn ul li a,
.navColumn ul li button {
    background-color: transparent;
    text-decoration: none;
    border: none;
    padding: 0;
    font-size: 14px;
}

/* BlogColumn */
.blogColumn {
    padding: 2%;
    max-width: 70%;
}

.blogItem {
    margin-bottom: 20px;
    max-width: 70%;
}

/* Markdown CSS */
.blogItem p {
    font-size: 14px;
    text-align: justify;
}

/* Links */
.blogItem a {
    text-decoration: underline;
    color: inherit;
}

.blogItem .titleLink {
    font-size: 36px;
    text-decoration: underline; /* Optional: remove underline */
}

/* Superscript (Footnotes) */
.blogItem sup {
    font-size: 8px;
    vertical-align: super;
    line-height: 1;
}

/* Headings */
.blogItem h1 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 36px;
}

.blogItem h2 {
    font-size: 30px;
}

.blogItem h3 {
    font-size: 24px;
}

.blogItem h4 {
    font-size: 20px;
}

.blogItem pre {
    background-color: #f6f8fa;
    padding: 16px;
    overflow: auto;
    border-radius: 3px;
    margin: 1em 0;
}

.blogItem code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    background-color: #f6f8fa;
}

.blogItem blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: 4px solid #ddd;
    color: #666;
    font-style: italic;
}

.blogItem ul, .blogItem ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

.blogItem ul {
    list-style-type: disc;
}

.blogItem ol {
    list-style-type: decimal;
}

.blogItem img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Footnotes */
.blogItem .footnotes p {
    font-size: 0.85em;
    border-top: 1px solid #ddd;
    margin-top: 1em;
    padding-top: 1em;
    text-align: left;
}

.blogItem .footnotes ol {
    padding-left: 1em;
}


.blogItem .footnotes li {
    margin-bottom: 0.5em; 
}

/* Task Lists */
.blogItem input[type="checkbox"] {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

/* Tables */
.blogItem table {
    width: 100%;
    border-collapse: collapse;
}

.blogItem table th, .blogItem table td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

.blogItem table th {
    background-color: #f6f8fa;
    font-weight: bold;
}

/* Emoji */
.blogItem .emoji {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}

/* Metadata */
.metadata {
    margin-top: 5px; /* Lägg till marginal ovanför metadata */
    font-style: italic;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #666;
    font-weight: 800;
}

.readingTime,
.author,
.date {
    margin-right: 10px;
}

/* Media queries */
@media (max-width: 750px) {
    .body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
    }

    .Wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10%;
        flex: 1;
        width: 100%;
    }

    .navColumn {
        margin: 5%;
        margin-top: 20%;
        font-size: 8px;
        width: 90%;
        max-width: 100%;
    }
    
    .navColumn h1 {
        font-size: 8px;
        font-weight: normal;
    }
    
    .navColumn ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .tagsHeader, .datesHeader {
        font-size: 8px;
        font-weight: 700;
        margin-right: 10px;
    }
    
    .navColumn ul li {
        margin: 0;
        margin-left: 2px;
        margin-right: 2px;
        height: fit-content;
        max-height: fit-content;
    }
    
    .navColumn ul li a,
    .navColumn ul li button {
        border: none;
        padding: 0;
        font-size: 9px;
    }

    .blogColumn {
        order: 2;
        max-width: 90%;
        padding: 0;
        line-height: 1.5;
    }

    .blogItem {
        padding: 5%;
        justify-content: center;
        max-width: 90%;
    }

    .blogItem p {
        font-size: 12px;
        word-wrap: break-word;
        display: block;
        max-width: 90%;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .blogItem a {
        font-size: 12px;
    }

    .blogItem img {
        justify-content: center;
    }

    .blogItem .titleLink {
        font-size: 24px;
    }

    .blogItem h2 {
        font-size: 20px;
    }

    .blogItem h3 {
        font-size: 18px;
    }

    .blogItem h4 {
        font-size: 16px;
    }

    .metadata {
        margin-bottom: 10px;
        font-style: italic;
    }
    
    .metadata .readingTime .author .date {
        font-weight: bold;
        margin-right: 10px;
    }

}
